.container {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    z-index: 5;
    justify-content: space-between;
    padding: 0;
    background-color: rgba(32, 32, 32, 0.753);

}

.navLeft {
    display: flex;
    width: 15%;
    align-items: center;
    padding-left: 2rem;
    font-size: 1.5rem;
}

.navMiddle {
    display: flex;
    width: 75%;
    align-items: center;
}

.navRight {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem;
    position: relative;
}

.logo {
    color: var(--color-5);
    cursor: pointer;
    font-weight: bold;
}

.navItems {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navItem {
    display: inline;
    margin: 0 1rem;
    cursor: pointer;
    transition: all .25s ease-in;
}

.navItem:hover {
    opacity: .8;
    transition: all .25s ease-in;
}

.username {
    cursor: pointer;
    min-width: 300px;
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
    text-align: right;
}

.showLogout {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: rgba(32, 32, 32, 0.753);
    cursor: pointer;
    padding: .25rem;
    gap: 1rem;
    transition: all .25s ease-in-out;
    font-size: .9rem;
    width: 300px;
    display: flex;
    justify-content: center;
}

.hideLogout {
    /* visibility: hidden; */
    right: -300px;
    top: 40px;
    transition: all .25s ease-in-out;
    background-color: rgba(32, 32, 32, 0.753);
    cursor: pointer;
    padding: .25rem;
    gap: 1rem;
    position: absolute;
}

.logoutWrapper {
    display: flex;
    gap: .5rem;
}